#game-frame{
    padding: 20px;
}

#stars-frame .glyphicon{
    margin: 0.3em;
    font-size: larger;
}

#stars-frame .well, #answer-frame .well{
    display: inline-block;
    width: 40%;
    float: left;
    height: 200px;
}
#button-frame{
    text-align: center;
    display: inline-block;
    width: 20%;
    float: left;
}

#button-frame .btn{
    margin-top: 30px;
}

#numbers-frame .well{
    display: inline-block;
    width: 100%;
    height: 100px;
}

#numbers-frame .number{
    text-align: center;
    display: inline-block;
    margin: 0.5em;
    font-size: large;
    width: 25px;
    background-color: darkgray;
    border-radius: 50%;
    cursor: pointer;
}

#answer-frame .number{
    text-align: center;
    display: inline-block;
    margin: 0.5em;
    font-size: large;
    width: 25px;
    background-color: darkgray;
    border-radius: 50%;
    cursor: pointer;
}

#numbers-frame .selected{
    text-align: center;
    display: inline-block;
    margin: 0.5em;
    color: #97a0a2;
    font-size: large;
    width: 25px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}